#!/bin/bash
set -eu -o pipefail
safe_source () { [[ ! -z ${1:-} ]] && source $1; _dir="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"; _sdir=$(dirname "$(readlink -f "$0")"); }; safe_source
# end of bash boilerplate

sname=$(readlink -f "$0")
cd $_sdir
safe_source $_sdir/dcs/tools/service-runner/tmux-launch
launch-service $(calc-session-name "$sname") # dirname-scriptname

# run commands in tmux session
run-in-tmux "./run-ls dcs-server.ls"
run-in-tmux "sudo ./run-ls io-server.ls"
run-in-tmux "./run-ls test.ls"
